/* Base style */

body {
	background-color: #F4F5F7;
	margin: 0;
	padding: 0;
	color: #454444;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 16px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	text-transform: uppercase;
	font-weight: lighter;
	color: #FEF9F8;
}

a {
	text-decoration: none;
}

h1 a {
	color: #fff;
}

main {
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
}

button {
	border: none;
}

/* Common layout */
/* Header */
header  {
	background-color: #FAA81A;
	height: 50px;
	width: 100%;

	z-index: 10;
}

.fun {
	font-weight: bold;
}

.head {
	text-align: center;
	padding-top: 5px;
	font-size: 30px;
}

/* Filters */
.section__filter {
	position: fixed;
	top: 50px;
	right: 0;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;

	width: 100%;
	height: 100%;
	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);

	/*color: #FEF9F8;*/
	background-color: #fff;
	z-index: 9;
}

ul.filters {
	font-size: 0;
}

ul.filters li {
	font-size: 1em;
	width: 100%;
	margin: 0 auto;
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

ul.filters li:last-child {
	margin-bottom: 50px;
}

.filters {
	width: 100%;
	text-align: center;
}

.section__filter ul li{
	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);
}

.filters button {
	height: 80px;
	width: 100%;
	display: block;
	color: #FFF;
	text-transform: uppercase;
}

.section__filter.filter--transition {
	-webkit-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}

.section__filter.filter--transition ul li{
	-webkit-transition: all 150ms ease-out;
	        transition: all 150ms ease-out;
}

.section__filter.filter--open {
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

.section__filter.filter--open ul li {
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}


/* Color Filter */
.filters__sport {
	background-color: #00A498;
}
.filters__art {
	background-color: #F2971F;
}
.filters__culture {
	background-color: #A2CC39;
}
.filters__cinema {
	background-color: #EE5281;
}
.filters__sciences {
	background-color: #F16723;
}
.filters__history {
	background-color: #2E72B5;
}
.filters__world {
	background-color: #FBB64C;
}
.filters__celebrities {
	background-color: #77489B;
}
.filters__fails {
	background-color: #B892C2;
}

/* Other */
.section {
	position: fixed;
	height: 100%;
	width: 100%;

	-webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);
}

.section:target, .section:first-of-type {
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

.section:not(:target) {
	-webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);
}

/* Home layout */

.section__home ul {
	margin: 0 auto;	
}

.section__home ul li {
	display: inline-block;
}

.section__home.unsee {
	opacity: 0;
	z-index: -1;
}

.addfact, .addfact--btn, .validFact, .validfact--btn {
	height: 60px;
	width: 60px;
	border: none;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	color: #FFF;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background-color: #FAA81A;

	position: absolute;
	bottom: 70px;
	left: 43%;
}

.addfact {
	z-index: 10;
}

.addfact--btn {
	z-index: 9;
}

.addfact--btn.addFact--transition {
	-webkit-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
}

.addfact--btn.addFact--open {
	-webkit-transform: scale(18);
	    -ms-transform: scale(18);
	        transform: scale(18);
}

.addfact.btnAdd--transition {
	-webkit-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}

.addfact.btnAdd--gone {
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

.btn--openfilter, .btn--openprofile {
	width: 50px;
	height: 50px;
	background-color: #FAA81A;
	color: #FEF9F8;
	padding: 5px;
}

.btn--openfilter {
	position: absolute;
	left: 0;
	top: 0;
}

.btn--openprofile {
	position: absolute;
	right: 0;
	top: 0;
}

.footPA {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 27%;
	background-color: #E5E4E3;
}

.menu.unsee {
	opacity: 0;
	z-index: -1;
	position: absolute;
	left: 50%;
	top: 50%;
}

.visible_fact.menu.unsee  {
	opacity: 0;
	z-index: -1;
}

.menu {
	background-color: #DDD;
	width: 200px;
}

/* Facts */

.section__mesFacts, .section__fav {
	margin: 0;
}

.article__fact {
	border-bottom: solid 1px #FEF9F8;

	position: relative;
}

.article__fact a {
	color: #49545A;
}

.article__fact .category {
	height: 50px;
	background-color: #E5E4E3;
	margin: 0 0 75px 0;
	padding: 13px 32px;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.fact {
	width: 80%;
	margin: 0 auto 10px auto;
	
}

.article__fact:last-of-type {
	border-bottom: none;
}

.article__fact .options {
	cursor: pointer;

	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	z-index: -1;
	background: grey;

	text-align: center;

	-webkit-transition: opacity 0.5s;
	        transition: opacity 0.5s;
}

.article__fact .options.active {
	opacity: 1;

	z-index: 1;
}

.article__fact ul li:first-child {
	border-right: solid 1px #454444;
	padding-right: 5px;
}

.visible_fact
{
	width: 100%;
	height: 73%;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
	position:fixed;
	background-color: #F4F5F7;
}

.transition_fact
{
	-webkit-transition: -webkit-transform 300ms ease-out;
	        transition: transform 300ms ease-out;
}

.hidden_fact
{
    width: 100%;
	height: 73%;
	-webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);
	position:fixed;
	background-color: #F4F5F7;
}

.infofact {
	margin: 50px 25px 0 0;
	font-size: 14px;
	text-transform: uppercase;
}

.infofact ul {
	float: right;
}

.infofact ul li {
	display: inline-block;
	margin: 0;
}

.btn--addToFav {
	float: left;
	margin: -15px 0 0 25px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.source {
	text-decoration: underline;
}

.menuFact, .btn--swipeFact {
	position: absolute;
	width: 50px;
	height: 50px;
}

.menuFact {
	top: 90px;
	right: 8px;
}

.btn--swipeFact {
	bottom: 35%;
	right: -7px;
}


/* Profil */

.section__profil ul {
	width: 100%;
}

.section__profil li {
	width: 49%;
	display: inline-block;
}

.section__profil button {
	background-color: #FFF;
	padding: 0;
	width: 100%;
	height: 50px;
	font-weight: bold;
	font-size: 16px;
}

.section__profil {
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);

	background-color: #F4F5F7;
}

.section__profil.profilOpen--open {
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}

.section__profil.profilOpen--transition {
	/*transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);*/

	-webkit-animation: bounce 800ms ease-out;
	        animation: bounce 800ms ease-out;
}


@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateY(-110%);
	        transform:translateY(-110%);
  }
  20% {
  	-webkit-transform:translateY(0%);
  	        transform:translateY(0%);
  }
  50% {
  	-webkit-transform:translateY(-5%);
  	        transform:translateY(-5%);
  }
  60% {
  	-webkit-transform:translateY(0%);
  	        transform:translateY(0%);
  }
  70% {
  	-webkit-transform:translateY(-1%);
  	        transform:translateY(-1%);
  }
  80% {
  	-webkit-transform:translateY(0%);
  	        transform:translateY(0%);
  }
  100% {
  	-webkit-transform:translateY(0%);
  	        transform:translateY(0%);
  }
}


@keyframes bounce {
  0% {
	-webkit-transform:translateY(-110%);
	        transform:translateY(-110%);
  }
  20% {
  	-webkit-transform:translateY(0%);
  	        transform:translateY(0%);
  }
  50% {
  	-webkit-transform:translateY(-5%);
  	        transform:translateY(-5%);
  }
  60% {
  	-webkit-transform:translateY(0%);
  	        transform:translateY(0%);
  }
  70% {
  	-webkit-transform:translateY(-1%);
  	        transform:translateY(-1%);
  }
  80% {
  	-webkit-transform:translateY(0%);
  	        transform:translateY(0%);
  }
  100% {
  	-webkit-transform:translateY(0%);
  	        transform:translateY(0%);
  }
}

.section__profil.profilClose--open {
	-webkit-transform: translateY(-110%);
	    -ms-transform: translateY(-110%);
	        transform: translateY(-110%);
}

.section__profil.profilClose--transition {
	-webkit-transition: all 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
	        transition: all 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}


/* FORMS */
form input, form textarea, form button {
	border: none;
}

form button {
	padding: 15px;
	margin: 35px 0 8px 0; 
	width: 188px;
	text-transform: uppercase; 
	background-color: #F16723; 
	color: #fff;
}

form input, form textarea {
	border: 1px #dddddd solid;
	padding: 8px;
}

form textarea {
	/*resize: auto;*/ /* Doesn't exist TODO */
	height: 150px;
	margin: 20px 0;

	max-width: 90%;
	max-height: 150px;
}

.form {
	display: block;
	margin: 0 auto;
	width: 210px;
}

.form div {
    position: relative;
}

.form .connect {
    text-align: center;
    width: 210px;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
}

.form .forgot {
    float: right;
    margin-top: 5px;
}

.floatlabel {
	position: relative;
}

.floatlabel label {
	position: absolute;
	font-size: 11px;
    -webkit-transition: margin-left 0.5s, color 0.5s;
            transition: margin-left 0.5s, color 0.5s;

    top: 6px;
}

.floatlabel label:not(.visible) {
	color: transparent;
	margin-left: -5px;
}

.floatlabel label.visible {
	margin-left: 5px;
}

.floatlabel input {
    margin-top: 20px;
  }

/* AddFact */

.section__addFact.unsee {
	opacity: 0;
	z-index: -1;
}

fieldset {
	border: none;
	width: 100%;
}

.categorie, .insertfact, .fact--add, .fact--pseudo {
    /*http://stackoverflow.com/questions/22681141/select-option-padding-not-working-in-chrome*/
    appearance: none;

    background-color: #fff;
    font-size: 15px;
    width: 240px;
    border: 1px solid #FAA81A;
    -webkit-border-radius: 0;
            border-radius: 0;

    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 15px 15px;
}

.section__addFact textarea {
    max-width: 240px;
    max-height: 150px;
}

.categorie {
    width: 262px;
    border-bottom: 1px solid #FAA81A;
}

.fact--src {
    margin-bottom: 135px;
}


.triangle {
    /*http://www.bellami.fr/triangles-css*/
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: #FAA81A;
    position: absolute;
    top: 110px;
    right: 38px;
}

.validMessage {
	text-align: center;
	background: #DDD;
	width: 150px;
}

.validMessage.unsee {
	opacity: 0;
	z-index: -1;
}

/* Icons */

.icon {
	background: url(../_img/icons.png) no-repeat;
	width: 50px;
	height: 50px;
}

.iconFilters {
	margin: 0 auto;
}

.icon--swipeFact {
	background-position: -87px -346px;
}

.icon--filters {
	background-position: -50px -308px;
}

.icon--profile {
	background-position: -3px -355px;
}

.icon--factmenu {
	background-position: -134px -298px;
}

.icon--favempty {
	background-position: -50px -263px;
}

.icon--sportW {
	background-position: left -117px;
}

.icon--artW {
	background-position: -46px -115px;
}

.icon--cultureW {
	background-position: -98px -113px;
}

.icon--cinemaW {
	background-position: 4px 9px;
}

.icon--sciencesW {
	background-position: 2px -35px;
}

.icon--historyW {
	background-position: -39px 11px;
}

.icon--worldW {
	background-position: -39px -32px;
}

.icon--celebrityW {
	background-position: 5px -73px;
}

.icon--failsW {
	background-position: -39px -73px;
}

.validFact {
	z-index: 10;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

.validfact--btn {
	z-index: 9;
	-webkit-transform: scale(18);
	    -ms-transform: scale(18);
	        transform: scale(18);
}

.validfact--btn.valBg--transition {
	-webkit-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
}

.validfact--btn.valBg--close {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

.validFact.btnVal--transition {
	-webkit-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}

.validFact.btnVal--open {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

.inProfileClose {
	display: none;
}

.mesFav--open, .mesFact--open {
	-webkit-animation:         open 0.6s;
	        animation:         open 0.6s;

	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

.mesFav--close, .mesFact--close {
	-webkit-animation:         close 0.6s;
	        animation:         close 0.6s;

	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

@-webkit-keyframes open {
	from { -webkit-transform: scale(0); transform: scale(0); }
	to { -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes open {
	from { -webkit-transform: scale(0); transform: scale(0);  }
	to { -webkit-transform: scale(1); transform: scale(1); }
}

@-webkit-keyframes close {
	from { -webkit-transform: scale(1); transform: scale(1);  }
	to { -webkit-transform: scale(0); transform: scale(0); }
}

@keyframes close {
	from { -webkit-transform: scale(1); transform: scale(1); }
	to { -webkit-transform: scale(0); transform: scale(0); }
}
