/* Base style */
body {
	font-family: sans-serif;
	background-color: #FEF9F8;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	text-transform: uppercase;
	font-weight: lighter;
	color: #FEF9F8;
	font-family: 'Roboto';
}

a {
	text-decoration: none;
}

h1 a {
	color: #fff;
}

main {
	overflow-scrolling: touch;
}

/* Common layout */
/* Header */
header  {
	background-color: #F16723;
	height: 50px;
	width: 100%;

	z-index: 10;
}

.normal {
	font-weight: bold;
}

.head {
	text-align: center;
	padding-top: 5px;
	font-size: 30px;
}

/* Nav */
.nav {
	text-align: left;
}

nav ul li {
	border-bottom: solid 1px #FEF9F8;
}

nav ul li a {
	width: 100%;
	padding: 20px;

	box-sizing: border-box;
	display: inline-block;

	font-variant: small-caps;

	color: inherit;
}

.section__nav div {
	background-color: #3E8A9C;
	height: 50px;
	width: 100%;
	padding: 0;
}

.section__nav {
	position: fixed;
	top: 0;
	left: 0;

	z-index: 10;

	width: calc(100% - 50px);
	height: 100%;
	transform: translateX(-100%);

	background-color: #49545A;
	color: #FEF9F8;
}

.section__nav.nav--transition {
	transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-animation: bounceleft 800ms ease-out;
}

.section__filter.filter--transition {
	transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-animation: bounceright 800ms ease-out;
}

.section__nav.nav--open {
	transform: translateX(0);
}

.section__filter.filter--open {
	transform: translateX(0);
}

.btn--openmenu, .btn--openfilter {
	width: 50px;
	height: 50px;
	background-color: #F16723;
	color: #FEF9F8;
	padding: 5px;
	border: none;

}

.btn--openmenu {
	position: absolute;
	right: -50px;
}

.btn--openfilter {
	position: absolute;
	right: 0;
	top: 0;
}

.nav--filteropen {
	z-index: 5;
}

.section:target.sec--closed, .section:first-of-type.sec--closed {
	transition: all 300ms ease-out;
}

.section:target.sec--closed, .section:first-of-type.sec--closed {
	transform: translateX(calc(100% - 50px));
}

@-webkit-keyframes bounceleft {
  0% {
	-webkit-transform:translateX(-100%);
  }
  20% {
  	-webkit-transform:translateX(0%);
  }
  50% {
  	-webkit-transform:translateX(-5%);
  }
  60% {
  	-webkit-transform:translateX(0%);
  }
  70% {
  	-webkit-transform:translateX(-1%);
  }
  80% {
  	-webkit-transform:translateX(0%);
  }
  100% {
  	-webkit-transform:translateX(0);
  }
}

@-webkit-keyframes bounceright {
  0% {
	-webkit-transform:translateX(100%);
  }
  20% {
  	-webkit-transform:translateX(0%);
  }
  50% {
  	-webkit-transform:translateX(5%);
  }
  60% {
  	-webkit-transform:translateX(0%);
  }
  70% {
  	-webkit-transform:translateX(1%);
  }
  80% {
  	-webkit-transform:translateX(0%);
  }
  100% {
  	-webkit-transform:translateX(0);
  }
}

/* Other */
.section {
	position: fixed;
	height: 100%;
	width: 100%;

	transform: translateX(100%);
}

.section:target, .section:first-of-type {
	transform: translateX(0);
}

.section:not(:target) {
	transform: translateX(100%);

}

/* Home layout */

.section__home ul {
	width: 80%;
	margin: 0 auto;	
}

.section__home ul li {
	display: inline-block;
}

ul.tapbar {
	font-size: 0;
	width: 100%;
}

ul.tapbar li {
	font-size: 1em;
	width: 33%;
	margin: 0;

	box-sizing: border-box;
}

ul.tapbar li:first-child {
	width: 34%;
}

.tapbar {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}

.tapbar button {
	height: 100px;
	width: 100%;
	border: none;
	display: block;
	padding: 0;
	font-family: 'Roboto';
	text-transform: uppercase;
}

.tapbar button img {
	display: block;
	margin: 0 auto;
}

.section__home .article__fact {
	margin-top: 100px;
}

/* Buttons Colors */

.addfact {
	background-color: #F16723;
	color: #FEF9F8;
}

.addfav {
	background-color: #F16723;
	color: #FEF9F8;
}

.share {
	background-color: #F16723;
	color: #FEF9F8;
}

/* Facts */

.section__mesFacts, .section__fav {
	margin: 0;
}

.article__fact {
	padding: 20px 0;
	border-bottom: solid 1px #FEF9F8;

	position: relative;
}

.article__fact a {
	color: #49545A;
}

.fact {
	width: 80%;
	margin: 0 auto 10px auto;
	
}

.article__fact:last-of-type {
	border-bottom: none;
}

.article__fact ul {
	width: 80%;
	margin: 0 auto;	
}


.article__fact ul li {
	display: inline-block;
}

.article__fact .options {
	cursor: pointer;

	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	z-index: -1;
	background: grey;

	text-align: center;

	transition: opacity 0.5s;
}

.article__fact .options.active {
	opacity: 1;

	z-index: 1;
}

.article__fact ul li:not(:last-of-type):after {
	content: " -";
}

/* Filters */
.section__filter {
	position: fixed;
	top: 50px;
	right: 0;


	width: 100%;
	height: 100%;
	transform: translateX(100%);


	color: #FEF9F8;
	background-color: #fff;
	z-index: 9;
}


.section__filter ul:first-of-type {
	margin-top: 30%;
}

ul.filters {
	font-size: 0;
}

ul.filters li {
	font-size: 1em;
	width: 33%;
	margin: 0;
	display: inline-block;
	box-sizing: border-box;
}

.filters {
	width: 100%;
	text-align: center;
	background-color: #DDD;
}

.filters button {
	height: 100px;
	width: 100%;
	border: solid 1px #DDD;
	display: block;
	padding: 0;
	background-color: #3FAA96;
}

/* Connexion Page */
.connecthead {
  margin: 20% auto 20px auto;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 20px 10px 15px 10px;
  text-align: center;
  background-color: grey;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Profil */
.profilinfo, .btn--modifuser, .btn--deleteuser {
	width: 250px;
	padding: 15px;
	margin: 10px auto;
	color: #FEF9F8;

	box-sizing: border-box;
}

.profilinfo {
	background-color: #F16723;
}

.btn--modifuser, .btn--deleteuser {
	display: block;
	background-color: #3FAA96;
	border: none;
	text-align: center;
}

.btn--modifuser {
	border: solid 2px #3FAA96;
}

.btn--deleteuser {
	border: solid 2px red;
}

.section__profil ul {
	margin-top: 50px;
}

/* ModifProfil */
.section__profilmodif {
	margin: 10px auto;
}

.profilmodif {
	width: 210px;
	margin: 50px auto 0 auto;
}

.profilmodif div:last-of-type {
	margin-bottom: 10px;
}


/* FORMS */
form input, form textarea, form button {
	border: none;
}

form button {
	padding: 15px;
	margin: 35px 0 8px 0; 
	width: 188px;
	text-transform: uppercase; 
	background-color: #F16723; 
	color: #fff;
}

form input, form textarea {
	border: 1px #dddddd solid;
	padding: 8px;
}

form textarea {
	resize: auto;
	height: 150px;
	margin: 20px 0;

	max-width: 90%;
	max-height: 150px;
}

.form {
	display: block;
	margin: 0 auto;
	width: 210px;
}

.form div {
    position: relative;
}

.form .connect {
    text-align: center;
    width: 210px;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
}

.form .forgot {
    float: right;
    margin-top: 5px;
}

.floatlabel {
	position: relative;
}

.floatlabel label {
	position: absolute;
	font-size: 11px;
    -webkit-transition: margin-left 0.5s, color 0.5s;
            transition: margin-left 0.5s, color 0.5s;
    top: 6px;
}

.floatlabel label:not(.visible) {
	color: transparent;
	margin-left: -5px;
}

.floatlabel label.visible {
	margin-left: 5px;
}

.floatlabel input {
    margin-top: 20px;
  }

  /* Page utilisateur */
.section__otheruser {
	margin: 0;
}

.stat li {
	text-align: center;
	float: left;
	display: block;
	width: 50%;
	background-color: grey;
	padding: 35px 10px;

	box-sizing: border-box;
}

.stat li:last-child {
	background-color: lightgrey;
}

.usercount {
	margin: 0;
}

.stat:after {
	content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/*AddFact*/

form, fieldset {
    border: none;
}

select, input, textarea {
    display: block;
}

.categorie, .insertfact, .fact--src {
    /*http://stackoverflow.com/questions/22681141/select-option-padding-not-working-in-chrome*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    font-size: 15px;
    width: 240px;
    border: 1px solid #F16723;
    border-radius: 0;
    padding: 10px;
    font-family: 'Roboto';
    margin: 40px 15px;
    box-shadow: 0 0 0 10px #fff;
}

.section__addFact textarea {
    min-height: 200px;
    max-width: 240px;
    max-height: 200px;
}

.categorie {
    width: 262px;
    border-bottom: 1px solid #F16723;
}

.fact--src {
    margin-bottom: 135px;
}

.add {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 106px;
    margin: 0px;
    background-color: #F16723;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 100;
}

.triangle {
    /*http://www.bellami.fr/triangles-css*/
    width: 0px;
    height: 0px;
    border: 12px solid transparent;
    border-top: 12px solid #f16723;
    position: absolute;
    top: 113px;
    right: 38px;
}